.sidebar {
	min-height: 100vh;
	width: 20%;
	background-color: #679A9C;

	transform: translateX(-75%);
	transition: transform 0.3s ease;
}

.sidebar.open {
	transform: translateX(0);
}

.toggle {
	position: absolute;
	right: -70px;
	background-color: #548878;
	color: #FFFFFF;
	height: 100px;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}

.sidebar a {
	display: block;
	padding: 15px 20px;
	color: #FFFFFF;
	text-decoration: none;
}

.sidebar a:hover {
	background-color: #548878;
}
